{% extends 'base.html' %}
{% block title %}Sign-up{% endblock title %}
{% block body %}
{% comment %} <section id="hero" class="d-flex align-items-center">
</section>
    <main id="main"> {% endcomment %}

<section id="sig" class="d-flex align-items-center">

  
  <div class="form_signup">
    <h3 class="head_signup">Sign up
      
    </h3>
    
   
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %} 

        <form action="/authen/signup/" method="post" >{% csrf_token %}
            <div class="row">
              {% comment %} <div class="lg-6 p-3 md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                
              </div> {% endcomment %}
              <div class="lg-6 p-3 md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required>
                
              </div>
              <div class="lg-6 p-3 md-6 form-group mt-3 mt-md-0">
                <input type="password" class="form-control" name="pass1" id="pass1" placeholder="Create password" required >
                
              </div>
              
              <div class="lg-6 p-3 md-6 form-group mt-3 mt-md-0">
                <input type="password" class="form-control" name="pass2" id="pass2" placeholder="Confirm Password" required>
                
              </div>
              
           
           
              
              
              <div class="text-center"><button type="submit">Submit</button></div>
              Already a User <a href="/authen/login" style="
              color: white;
          ">Login</a>
            </div>
          </form>
        </div>
        
 
  </section><!-- End Hero -->


{% endblock body %}








































